
  <p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <h2>Reviews</h2>
  <ul>
    <% if restaurant.reviews.length > 0 %>
      <% restaurant.reviews.each do |review| %>
        <li>
          <%= review.content %>
          <%= review.rating %>

        </li>
      <% end %>
    <% else %>
      <p>No reviews yet</p>
    <% end %>
  </ul>
